body{
	font-family: 'Microsoft YaHei',sans-serif;background-color: #f2f2f2;
}
@-ms-viewport       { width: device-width;}
	 	@-ms-viewport       { width: device-width; }
	 	@-o-viewport        { width: device-width; }
	 	@viewport           { width: device-width; }
	 	@media print {
	 	  .container {
	 	    width: auto;
	 	    background-color: #fff;
	 	  }
	 	}
	 	nav{
	 		margin-bottom: 50px;
	 	}
	 	.nav-logo{
	 	    		float: left;
	 			    height: 40px;
	 			    margin-top: 5px;
	 			    overflow: hidden;
	 	    	}
	 	    	.nav-logo a{
	 	    		margin: 0;
	 	    		padding: 0;
	 	    	}
	 	    	#first{
	 	    		margin-top: 50px;
	 	    	}
	 	    	footer{
	 	    		background-color: #393D49;
	 	    		padding: 20px 0;
	 	    	}
	 	    	footer p{
	 	    		text-align: center;
	 	    		color: #FFFFFF;
	 	    	}
	 	    	footer a{
	 	    		color: white;
	 	    	}
	 	    	#first,#second,#third,#fourth,#fifth,#fir_two,#fir_one{
	 	    		background-color: #FFFFFF;
	 	    		margin-top: 20px;
	 	    		padding: 10px 0;
	 	    	}
	 	    	div#first{
	 	    		margin-top: 60px;
	 	    	}